!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', type='text/javascript')
	body
		div(id='container')
			div(id='top-section')
				a(href="/")
					h1(class='top-logo') DASH
				- if (typeof(username) != 'undefined')
					a(href="/logout/")
						h1(class='top-username')= username
			div(class="clear")
			!= body
