script(src="/js/novnc/vnc.js")
script(src="/js/novnc/ui.js")
link(rel="stylesheet",href="/js/novnc/black.css")

div
	div
		span Hostname: 
		= kvmdetails["hostname"]
	div
		span IP: 
		= kvmdetails["ip"]
	div
		span RAM: 
		= kvmdetails["ram"]
	div
		span Allocated BW: 
		= kvmdetails["bw"]
	div
		span Used BW: 
		= kvmdetails["bw-used"]
	div
		span Node: 
		= kvmdetails["node"]
	div
		span Status:
		- if(kvmdetails["running"])
			span Running!
		- else
			span Offline!
	div
		a(href="start") Start 
		a(href="stop") Stop 
		a(href="poweroff") Power off 
	canvas(id="noVNC_canvas",height="400px",width="200px") Canvas not supported!
	script(type="text/javascript")
		var rfb;
		rfb = new RFB({'target':       $D('noVNC_canvas'),
			'encrypt':      WebUtil.getQueryVar('encrypt', false),
			'true_color':   WebUtil.getQueryVar('true_color', true),
			'local_cursor': WebUtil.getQueryVar('cursor', true),
			'shared':       WebUtil.getQueryVar('shared', true),
			'updateState':  null,
			'onPasswordRequired':  null});
		rfb.connect("#{kvmdetails["node"]}", #{kvmdetails["vncport"]}, "#{kvmdetails["vncpass"]}", "/");
