!!!
html
	head
		title Dash.
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,500italic')
	body!= body
