#menu
	img(src='/images/dashlogo.png')

#container
	h1 Manage
	h2.hostname server.host.name

	#bandwidthBar
		#bandwidthUsed
		#bandwidthUsedText 141 / 300 GB

	#controls
		a(href='#') Start
		a(href='#') Stop
	#information
		h2 Information
