#menu
	img(src='/images/dashlogo.png')

#container
	h1 Manage
	h2.hostname= hostname

	#bandwidthBar
		#bandwidthUsed
		#bandwidthUsedText #{usedbandwidth.toFixed(0)} / #{bandwidth} GB
	script(type='text/javascript')
		document.getElementById('bandwidthUsed').style.width = '#{(usedbandwidth/bandwidth*100).toFixed(2)}%';
	#controls
		a(href='#') Start
		a(href='#') Stop
	#information
		h2 Information
