body {
	background-color: #151515;
	text-rendering: optimizeLegibility;
	font-family: 'Lato', sans-serif;
}

#loginBox {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -7.5em;
	margin-top: -6em;
	height: 9em;
	background-color: #000;
	width: 15em;
	box-shadow: 0 0 2em black;
}

#loginBox input {
	background-color: #111;
	
	border: 1px solid #222;
	color: #888;
	text-shadow: 0 1px 1px #000;
	display: block;
	margin: 0.7em auto;
	width: 10em;

	font-family: "Lato", sans-serif;
}

#loginBox input.submitButton {
	width: 5em;
}

#topBar {
	height: 49px;
	background-image: url('http://i.imgur.com/dXNLo.png');
}

#topBar h1.logo {
	font-family: "FunctionCapsMedium";
	line-height: 49px;
	color: white;
	font-size: 1.5em;
	margin-left: 0.25em;
	text-shadow: 0 1px 1px black;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: pointer;
	display: inline;
}
